// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "bcm2711-rpi-cm4.dtsi"
#include "bcm283x-rpi-usb-host.dtsi"

#include <dt-bindings/input/input.h>
/ {
	compatible = "raspberrypi,4-compute-module-ha-yellow", "raspberrypi,4-compute-module", "brcm,bcm2711";
	model = "Raspberry Pi Compute Module 4 on Home Assistant Yellow";

	aliases {
		serial1 = &uart4;
		serial2 = &uart5;
	};

	chosen {
		stdout-path = "serial2:115200n8";
	};

	keys: gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_button_pins>;

		status = "okay";

		power {
			label = "Blue Button";
			linux,code = <KEY_POWER>;
			gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
			debounce-interval = <100>; // ms
		};

		user {
			label = "Red Button";
			linux,code = <BTN_1>;
			gpios = <&gpio 27 GPIO_ACTIVE_LOW>;
			debounce-interval = <100>; // ms
		};
	};

	leds {
		compatible = "gpio-leds";

		led_act: led-act {
			label = "act";
			default-state = "off";
			linux,default-trigger = "activity";
			gpios = <&gpio 42 GPIO_ACTIVE_HIGH>;
		};

		led_pwr: led-pwr {
			label = "pwr";
			default-state = "keep";
			linux,default-trigger = "default-on";
			gpios = <&expgpio 2 GPIO_ACTIVE_LOW>;
		};

		led_usr: led-usr {
			label = "usr";
			linux,default-trigger = "heartbeat";
			default-state = "off";
			panic-indicator;
			gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
		};
	};

	reg_3v3: regulator {
		compatible = "regulator-fixed";

		regulator-name = "3v3-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "pcm5121-sound";
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&i2s>;
		};

		dailink0_slave: simple-audio-card,codec {
			sound-dai = <&card_codec>;
		};
	};
};

&ddc0 {
	status = "okay";
};

&ddc1 {
	status = "okay";
};

&gpio {
	/*
	 * Parts taken from rpi_SCH_4b_4p0_reduced.pdf and
	 * the official GPU firmware DT blob.
	 *
	 * Legend:
	 * "FOO" = GPIO line named "FOO" on the schematic
	 * "FOO_N" = GPIO line named "FOO" on schematic, active low
	 */
	gpio-line-names = "ID_SDA",
			  "ID_SCL",
			  "SDA1",
			  "SCL1",
			  "GPIO_GCLK",
			  "GPIO5",
			  "GPIO6",
			  "SPI_CE1_N",
			  "SPI_CE0_N",
			  "SPI_MISO",
			  "SPI_MOSI",
			  "SPI_SCLK",
			  "GPIO12",
			  "GPIO13",
			  /* Serial port */
			  "TXD1",
			  "RXD1",
			  "GPIO16",
			  "GPIO17",
			  "GPIO18",
			  "GPIO19",
			  "GPIO20",
			  "GPIO21",
			  "GPIO22",
			  "GPIO23",
			  "GPIO24",
			  "GPIO25",
			  "GPIO26",
			  "GPIO27",
			  "RGMII_MDIO",
			  "RGMIO_MDC",
			  /* Used by BT module */
			  "CTS0",
			  "RTS0",
			  "TXD0",
			  "RXD0",
			  /* Used by Wifi */
			  "SD1_CLK",
			  "SD1_CMD",
			  "SD1_DATA0",
			  "SD1_DATA1",
			  "SD1_DATA2",
			  "SD1_DATA3",
			  /* Shared with SPI flash */
			  "PWM0_MISO",
			  "PWM1_MOSI",
			  "STATUS_LED_G_CLK",
			  "SPIFLASH_CE_N",
			  "SDA0",
			  "SCL0",
			  "RGMII_RXCLK",
			  "RGMII_RXCTL",
			  "RGMII_RXD0",
			  "RGMII_RXD1",
			  "RGMII_RXD2",
			  "RGMII_RXD3",
			  "RGMII_TXCLK",
			  "RGMII_TXCTL",
			  "RGMII_TXD0",
			  "RGMII_TXD1",
			  "RGMII_TXD2",
			  "RGMII_TXD3";

	gpio_button_pins: gpio_button_pins {
		pin-power {
			function = "gpio_in";
			pins = "gpio26";
			bias-pull-up;
		};
		pin-user {
			function = "gpio_in";
			pins = "gpio27";
			bias-pull-up;
		};
	};

	i2s_gpio18: i2s-gpio18 {
		pin-pcm-clk {
			function = "alt0";
			pins = "gpio18";
			bias-disable;
		};
		pin-pcm-fs {
			function = "alt0";
			pins = "gpio19";
			bias-disable;
		};
		pin-pcm-din {
			function = "alt0";
			pins = "gpio20";
			bias-disable;
		};
		pin-pcm-dout {
			function = "alt0";
			pins = "gpio21";
			bias-disable;
		};
	};
};

&hdmi0 {
	status = "okay";
};

&hdmi1 {
	status = "okay";
};

&genet {
	status = "okay";
};

&i2c6 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_gpio22>;
	status = "okay";
	clock-frequency = <100000>;

	card_codec: pcm5121@4c {
		#sound-dai-cells = <0>;
		compatible = "ti,pcm5121";
		reg = <0x4c>;
		AVDD-supply = <&reg_3v3>;
		DVDD-supply = <&reg_3v3>;
		CPVDD-supply = <&reg_3v3>;
		status = "okay";
	};

	pcf85063a: rtc@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
	};
};

&i2s {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_gpio18>;
	status = "okay";
};

&pixelvalve0 {
	status = "okay";
};

&pixelvalve1 {
	status = "okay";
};

&pixelvalve2 {
	status = "okay";
};

&pixelvalve4 {
	status = "okay";
};

/* uart4 for Zigbee */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_gpio8 &uart4_ctsrts_gpio10>;
	uart-has-rtscts;
	status = "okay";
};

/* uart5 default Debug UART */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_gpio12>;
	status = "okay";
};

&vc4 {
	status = "okay";
};

&vec {
	status = "disabled";
};
